@import "~antd/dist/antd.css";
@import "./sass/variables.scss";
@import "./sass/navbar.scss";
// @import "./sass/loginForm.scss";

.App {
  // margin: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: $base-background-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-form {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.form-title {
  text-align: center;
}

.bold-text {
  font-weight: bold;
}

.note {
  margin-bottom: 2px;
}
.note-buttons {
  margin-top: 2px;
  margin-bottom: 20px;
}
a {
  color: $base-color-secondary;
}

a:hover {
  color: $base-color;
}

.ant-btn-primary {
  color: $base-font-color-light;
  background-color: $base-color;
  border-color: $base-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover {
  background-color: $base-color-secondary;
}

.ant-btn-primary:active {
  background-color: $base-color-secondary;
}

.ant-btn-primary:focus {
  background-color: $base-color-secondary;
  border-color: $base-color-secondary;
}

.ant-btn {
  color: $base-font-color-light;
  background-color: $base-color;
  border-color: $base-color;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn.cancel {
  color: $base-font-color-light;
  background-color: $base-font-color-dark;
  border-color: $base-font-color-dark;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn.cancel:hover {
  background-color: $base-color-cancel;
  border-color: $base-color-cancel;
}

.ant-btn.cancel:active {
  background-color: $base-color-cancel;
  border-color: $base-color-cancel;
}

.ant-btn.cancel:focus {
  background-color: $base-color-cancel;
  border-color: $base-color-cancel;
}

.ant-btn.new-contact.ant-btn-primary {
  margin: 20px auto auto 20px;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: $base-color-secondary;
}

.ant-form-item {
  color: $base-font-color-dark;
  margin-top: 2em;
}

.ant-table {
  color: $base-font-color-dark;
}

.ant-input {
  color: $base-font-color-dark;
}

.ant-input:hover {
  border-color: $base-color;
}

.ant-input:focus {
  border-color: $base-color;
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: $base-color;
  border-right-width: 1px !important;
}

.ant-checkbox-wrapper {
  color: $base-font-color-dark;
}

.ant-checkbox-inner {
  border-radius: 4px;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: $base-color;
  border-color: $base-color;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: $base-color;
}

h2.ant-typography {
  color: $base-font-color-dark;
}

.sc-AykKH.guDsfl.react-trello-board {
  background-color: $base-background-color;
  color: $base-font-color-dark;
}

.sc-AykKJ.NSWzM.react-trello-lane {
  border-radius: 4px;
}

.sc-fzXfLQ.sc-fzXfLV.ebsDqi {
  color: $base-font-color-dark;
}

.sc-AykKI.sc-AykKK.dVImGv {
}

.sc-fzXfMD.NKOpD {
  color: $base-font-color-dark;
  font-weight: 600;
  text-align: center;
  border-radius: 4px;
  min-height: 40px;
  max-height: 80px;
  width: 280px;
}

.sc-fzXfLS.sc-fzXfLT.jdfPWI.react-trello-card {
  border-radius: 4px;
  margin-bottom: 10px;
}

// .sc-fzXfLS.sc-fzXfLT.jdfPWI.react-trello-card:hover {
//   background-color: $base-color-secondary;
//   color: $base-font-color-light;
// }

body {
  color: $base-font-color-light;
  background-color: $base-background-color;
}
